<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
  
<mapper namespace="com.supr.blog.mapper.ModelMapper">
	
	<sql id="modelList">
		<if test="model.tId != null and model.tId !='-1'">
		 	and trade.Id = #{model.tId}
		</if>
		<if test="model.rmName != null and model.rmName != ''">
			and model.rmName like CONCAT('%','${model.rmName}','%' ) 
		</if>
	</sql>
	
	<sql id="modelAttrList">
		
	</sql>
	
	<sql id="updateModelLat">
		<if test="rmdName != null and rmdName !=''">
		 	,rmdName = #{rmdName} 
		</if>
		<if test="rmdFullKey != null and rmdFullKey != ''">
			,rmdFullKey = #{rmdFullKey}
		</if>
		<if test="description != null and description != ''">
			,description = #{description}
		</if>
	</sql>
	
	<sql id="updateModel">
		<if test="rmName != null and rmName !=''">
		 	,rmName = #{rmName} 
		</if>
		<if test="rmKey != null and rmKey != ''">
			,rmKey = #{rmKey}
		</if>
		<if test="description != null and description != ''">
			,description = #{description}
		</if>
		<if test="tId != null and tId != ''">
			,tId = #{tId}
		</if>
	</sql>
	
	<sql id="updateModelAttr">
		<if test="rmduId != null and rmduId !='-1'">
		 	,rmduId = #{rmduId} 
		</if>
		<if test="rmpName != null and rmpName != ''">
			,rmpName = #{rmpName}
		</if>
		<if test="rmpKey != null and rmpKey != ''">
			,rmpKey = #{rmpKey}
		</if>
		<if test="rmpFullKey != null and rmpFullKey != ''">
			,rmpFullKey = #{rmpFullKey}
		</if>
		<if test="description != null and description != ''">
			,description = #{description}
		</if>
	</sql>
	
	<!-- 获取模型总数 -->
	<select id="getModelCount" resultType="int" parameterType="map">
		select count(model.Id) from e_res_mould model 
		inner join e_trade trade on model.tId = trade.Id 
		where 1 = 1 
		<include refid="modelList"/>
	</select>
	
	<!-- 获取模型列表 -->
	<select id="getModelList" resultType="com.supr.blog.model.cmge.Model" parameterType="map">
		select model.*,trade.rtName from e_res_mould model 
		inner join e_trade trade on model.tId = trade.Id 
		where 1 = 1 
		<include refid="modelList"/> 
		order by model.Id desc 
		limit #{startIndex},#{pageSize} 
	</select>

	<!-- 获取模型属性总数 -->
	<select id="getModelAttrCount" resultType="int" parameterType="map">
		select count(pro.Id) from e_res_mould model 
		inner join e_res_mould_property pro on model.Id = pro.rmId 
		inner join e_res_mould_data_unit du on pro.rmduId = du.Id 
		inner join e_data_type dt on du.dtId = dt.Id 
		where model.Id = #{modelId} 
		<include refid="modelAttrList"/>
	</select>
	
	<!-- 获取模型属性列表 -->
	<select id="getModelAttrList" resultType="com.supr.blog.model.cmge.ModelAttr" parameterType="map">
		select pro.*,dt.dtName,model.rmName from e_res_mould model 
		inner join e_res_mould_property pro on model.Id = pro.rmId 
		inner join e_res_mould_data_unit du on pro.rmduId = du.Id 
		inner join e_data_type dt on du.dtId = dt.Id 
		where model.Id = #{modelId} 
		<include refid="modelAttrList"/> 
		order by pro.Id desc 
	</select>

	<!-- 获取模型维度总数 -->
	<select id="getModelLatCount" resultType="int" parameterType="map">
		select count(dim.Id) from e_res_mould model 
		inner join e_res_mould_dim dim on model.Id = dim.rmId 
		inner join e_dim_algorithm da on dim.daId = da.Id 
		where model.Id = #{modelId} 
	</select>
	
	<!-- 判断模型名称是否存在 -->
	<select id="isExistModelName" resultType="int" parameterType="com.supr.blog.model.cmge.Model">
		select count(1) from e_res_mould where rmName = #{rmName}
	</select>
	
	<!-- 判断模型Key是否存在 -->
	<select id="isExistModelLKey" resultType="int" parameterType="com.supr.blog.model.cmge.Model">
		select count(1) from e_res_mould where rmKey = #{rmKey}
	</select>

	<!-- 获取模型维度列表 -->
	<select id="getModelLatList" resultType="com.supr.blog.model.cmge.ModelLat" parameterType="map">
		select dim.*,da.daName,model.rmName from e_res_mould model 
		inner join e_res_mould_dim dim on model.Id = dim.rmId 
		inner join e_dim_algorithm da on dim.daId = da.Id 
		where model.Id = #{modelId} 
	</select>
	
	<!-- 获取模型维度入参-->
	<select id="getAlgorithmProvideListById" resultType="com.supr.blog.model.cmge.AlgorithmProvide" parameterType="Integer">
		select pro.*,t.dtName from e_dim_property_provide pro 
		inner join e_data_type t on pro.dtId = t.Id 
		where pro.daId = #{daId}
	</select>
	
	<!-- 获取模型属性数据单元-->
	<select id="getAttrDataUnitByModelId" resultType="com.supr.blog.model.cmge.ModelDataUnit" parameterType="String">
		select * from e_res_mould_data_unit 
		where rmId = #{modelId} and useType = '1'
	</select>
	
	<!-- 获取行业列表 -->
	<select id="getTradeList" resultType="com.supr.blog.model.cmge.Trade">
		select * from e_trade order by Id desc
	</select>
	
	<!-- 批量删除模型 -->
	<delete id="deleteBatch" parameterType="String">
		delete from e_res_mould where Id in 
		<foreach collection="array" item="modelIds" index="index" open="(" close=")" separator=","> 
            #{modelIds}
        </foreach>
	</delete>
	
	<!-- 批量删除模型属性 -->
	<delete id="deleteAttrBatch" parameterType="String">
		delete from e_res_mould_property where Id in 
		<foreach collection="array" item="ids" index="index" open="(" close=")" separator=","> 
            #{ids}
        </foreach>
	</delete>

	<!-- 批量删除维度属性 -->
	<delete id="deleteLatBatch" parameterType="String">
		delete from e_res_mould_dim where Id in 
		<foreach collection="array" item="ids" index="index" open="(" close=")" separator=","> 
            #{ids}
        </foreach>
	</delete>
	
	<!-- 根据Id获取模型 -->
	<select id="getModelById" resultType="com.supr.blog.model.cmge.Model" parameterType="Integer">
		select model.*,trade.rtName from e_res_mould model 
		inner join e_trade trade on model.tId = trade.Id 
		where model.Id = #{modelId} 
	</select>
	
	<!-- 根据Id获取模型属性 -->
	<select id="getModelAttrById" resultType="com.supr.blog.model.cmge.ModelAttr" parameterType="String">
		select pro.*,model.rmName from e_res_mould model 
		inner join e_res_mould_property pro on model.Id = pro.rmId 
		where pro.Id = #{attrId} 
	</select>
	
	<!-- 根据Id获取模型维度 -->
	<select id="getModelLatById" resultType="com.supr.blog.model.cmge.ModelLat" parameterType="String">
		select dim.*,model.rmName,da.daKey,da.daName,model.Id as rmId from e_res_mould model 
		inner join e_res_mould_dim dim on model.Id = dim.rmId 
		inner join e_dim_algorithm da on dim.daId = da.Id 
		where dim.Id = #{attrId} 
	</select>
	
	<!-- 根据Id获取模型数据单元 -->
	<select id="getModelAttrDataUnit" resultType="com.supr.blog.model.cmge.ModelDataUnit" parameterType="String">
		select da.* from e_res_mould model 
		inner join e_res_mould_data_unit da on model.Id = da.rmId 
		where model.Id = #{modelId}  and useType = 1
	</select>
	
	<!-- 根据Id获取模型维度数据单元 -->
	<select id="getModelLatDataUnit" resultType="com.supr.blog.model.cmge.ModelDataUnit" parameterType="Integer">
		select da.* from e_res_mould model 
		inner join e_res_mould_data_unit da on model.Id = da.rmId 
		where model.Id = #{modelId} and useType = 2
	</select>
	
	<!-- 获取模型维度算法 -->
	<select id="getLatAlgorithm" resultType="com.supr.blog.model.cmge.Algorithm">
		select * from e_dim_algorithm 
	</select>
	
	<!-- 新增模型属性  第二步  保存属性信息 -->
	<insert id="saveModelAttr" parameterType="com.supr.blog.model.cmge.ModelAttr" > 
		<![CDATA[
		insert into e_res_mould_property(rmId,rmduId,rmpName,rmpKey,rmpFullKey,createTime,createBy,modifyTime,modifyBy,description) 
			values
		(#{rmId},#{rmduId},#{rmpName},#{rmpKey},#{rmpFullKey},#{createTime},1,#{createTime},1,#{description})
		]]> 
		<selectKey resultType="int" keyProperty="id">
			<![CDATA[
			SELECT LAST_INSERT_ID() as ID 
			]]> 
		</selectKey>
	</insert>
	
	<!-- 新增模型维度  第三步  保存维度信息 -->
	<insert id="saveModelLat" parameterType="com.supr.blog.model.cmge.ModelLat" > 
		<![CDATA[
		insert into e_res_mould_dim(rmId,daId,rmdName,rmdFullKey,createTime,createBy,modifyTime,modifyBy,description) 
			values
		(#{rmId},#{daId},#{rmdName},#{rmdFullKey},#{createTime},1,#{createTime},1,#{description})
		]]> 
		<selectKey resultType="int" keyProperty="id">
			<![CDATA[
			SELECT LAST_INSERT_ID() as ID 
			]]> 
		</selectKey>
	</insert>
	
	<!-- 新增模型 第一步  保存基础信息 -->
	<insert id="saveModelInfo" parameterType="com.supr.blog.model.cmge.Model" > 
		<![CDATA[
		insert into e_res_mould(tId,rmName,rmKey,createTime,createBy,modifyTime,modifyBy,description) 
			values
		(#{tId},#{rmName},#{rmKey},#{createTime},1,#{createTime},1,#{description})
		]]> 
		<selectKey resultType="int" keyProperty="id">
			<![CDATA[
			SELECT LAST_INSERT_ID() as ID 
			]]> 
		</selectKey>
	</insert>
	

	<!-- 更新模型属性 -->
	<update id="updateModelAttr" parameterType="com.supr.blog.model.cmge.ModelAttr" >
		update e_res_mould_property set modifyTime = #{modifyTime} 
		<include refid="updateModelAttr"/> 
		where Id = #{Id} 
	</update>
	
	<!-- 更新模型维度基本信息  第一步 -->
	<update id="updateModelLat" parameterType="com.supr.blog.model.cmge.ModelLat" >
		update e_res_mould_dim set modifyTime = #{modifyTime} 
		<include refid="updateModelLat"/> 
		where Id = #{id} 
	</update>
	
	<!-- 更新模型基本信息  第一步 -->
	<update id="updateModelInfo" parameterType="com.supr.blog.model.cmge.Model" >
		update e_res_mould set modifyTime = #{modifyTime} 
		<include refid="updateModel"/> 
		where Id = #{id} 
	</update>
	
	<!-- liliangchun start -->
	<!-- 获取模型列表 -->
	<select id="getAllModelList" resultType="com.supr.blog.model.cmge.Model" parameterType="map">
		select model.* from e_res_mould model 
	</select>
	
	<!-- 获取数据类型列表 -->
	<select id="getDataTypeList" resultType="com.supr.blog.model.cmge.DataType" parameterType="map">
		select dateType.* from e_data_type dateType 
	</select>
	
	<sql id="modelDataUnitList">
		<if test="modelDataUnit.id != null and modelDataUnit.id !='-1'">
		 	and modelDataUnit.id = #{modelDataUnit.id}
		</if>
		<if test="modelDataUnit.dtId != null and modelDataUnit.dtId !='-1'">
		 	and modelDataUnit.dtId = #{modelDataUnit.dtId}
		</if>
		<if test="modelDataUnit.rmId != null and modelDataUnit.rmId !='-1'">
		 	and modelDataUnit.rmId = #{modelDataUnit.rmId}
		</if>
		<if test="modelDataUnit.useType != null and modelDataUnit.useType !='-1'">
		 	and modelDataUnit.useType = #{modelDataUnit.useType}
		</if>
		<if test="modelDataUnit.rmduName != null and modelDataUnit.rmduName != ''">
			and modelDataUnit.rmduName like CONCAT('%','${modelDataUnit.rmduName}','%' ) 
		</if>
	</sql>
	
	<!-- 获取模型数据单元 -->
	<select id="getModelDataUnitCount" resultType="int" parameterType="map">
		select count(modelDataUnit.Id) from e_res_mould_data_unit modelDataUnit 
		inner join e_data_type dt on modelDataUnit.dtId = dt.Id 
		inner join e_res_mould rm on modelDataUnit.rmId = rm.Id
		where 1 = 1 
		<include refid="modelDataUnitList"/>
	</select>
	<!-- 获取模型数据单元列表 -->
	<select id="getModelDataUnitList" resultType="com.supr.blog.model.cmge.ModelDataUnit" parameterType="map">
		select modelDataUnit.*,dt.dtName,rm.rmName from e_res_mould_data_unit modelDataUnit 
		inner join e_data_type dt on modelDataUnit.dtId = dt.Id 
		inner join e_res_mould rm on modelDataUnit.rmId = rm.Id
		where 1 = 1 
		<include refid="modelDataUnitList"/>
		limit #{startIndex},#{pageSize} 
	</select>
	<!-- 保存模型数据单元信息 -->
	<insert id="saveModelDataUnitInfo" parameterType="com.supr.blog.model.cmge.ModelDataUnit" > 
		<![CDATA[
		INSERT INTO e_res_mould_data_unit (
				dtId,rmId,rmduName,useType,maxValues,minValue,stepValue,
				defaultValue1,defaultValue2,defaultValue3,createTime,
				createBy,modifyTime,modifyBy,description
			)VALUES(
				#{dtId},#{rmId},#{rmduName},#{useType},#{maxValue},#{minValue},#{stepValue},
				#{defaultValue1},#{defaultValue2},#{defaultValue3},#{createTime},
				1,#{createTime},1,#{description}
			)
		]]> 
		<selectKey resultType="int" keyProperty="id">
			<![CDATA[
			SELECT LAST_INSERT_ID() as ID 
			]]> 
		</selectKey>
	</insert>
	<!-- liliangchun end -->
</mapper>
