<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j='http://jakarta.apache.org/log4j/'>

	<!--将级别为DEBUG的信息输出到控制台-->
	<appender name="LOG.DEBUG"
		class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="C:/log/debug.log" />
		<param name="Threshold" value="debug" />  
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="%d{yyy-MM-dd HH:mm:ss} [%t] [%c] [%-5p] %m%n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMax" value="DEBUG" />
			<param name="LevelMin" value="DEBUG" />
		</filter>
	</appender>

	<!--将级别为INFO的信息输出到控制台-->
	<appender name="LOG.INFO"
		class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="C:/log/info.log" />
		<param name="Threshold" value="info" />  
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="%d{yyy-MM-dd HH:mm:ss} [%-5p] %m%n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMax" value="INFO" />
			<param name="LevelMin" value="INFO" />
		</filter>		
	</appender>

	<!--将级别为WARN的信息输出到控制台-->
	<appender name="LOG.WARN"
		class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="C:/log/warn.log" />
		<param name="Threshold" value="warn" />  
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="%d{yyy-MM-dd HH:mm:ss} [%-5p] %m%n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMax" value="WARN" />
			<param name="LevelMin" value="WARN" />
		</filter>	
	</appender>

	<!--将级别为ERROR的信息输出到控制台-->
	<appender name="LOG.ERROR"
		class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="C:/log/error.log" />
		<param name="Threshold" value="error" />  
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="%d{yyy-MM-dd HH:mm:ss} [%-5p] %m%n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMax" value="ERROR" />
			<param name="LevelMin" value="ERROR" />
		</filter>
	</appender>

	<!--信息输出到控制台-->
    <appender name="LOG.CONSOLE"
		class="org.apache.log4j.ConsoleAppender">		
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="%d{yyy-MM-dd HH:mm:ss} [%t] [%c] [%-5p] %m%n" />
		</layout>		
	</appender> 

	<root>
		<level value="INFO" />
		<appender-ref ref="LOG.CONSOLE" />
		<appender-ref ref="LOG.DEBUG" />
		<appender-ref ref="LOG.INFO" />
		<appender-ref ref="LOG.WARN" />
		<appender-ref ref="LOG.ERROR" />
	</root>

</log4j:configuration>