<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
  
<mapper namespace="com.supr.blog.mapper.AdminMapper">
	
	<select id="addAdmin" parameterType="Admin">
		insert into ADMIN(USERNAME,PASSWORD,IS_ENABLE) values(#{username},#{password},#{isEnabled})
	</select>
	
	<select id="getAdminByEmail" resultType="Admin" parameterType="String">
		select * from ADMIN  
		where EMAIL = #{email}
	</select>
	
	<select id="adminExists" resultType="Admin" parameterType="Admin">
		select * from ADMIN  
		where USERNAME = #{username} and PASSWORD = #{password}
	</select>
	
	<delete id="getAdminByName" resultType="Admin" parameterType="String">
		select * from ADMIN  
		where USERNAME = #{username}
	</delete>
	
</mapper>