<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
  
<mapper namespace="com.supr.blog.mapper.AlbumMapper">
	
	<!-- 获取所有相册信息 -->
	<select id="Category" resultType="com.supr.blog.model.Album">
		select * from category  
	</select>
	
</mapper>
