<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
  
<mapper namespace="com.supr.blog.mapper.SearchMapper">
	
	<!-- 根据商品属性Id获取商品对象 -->
	<select id="getProductAttr" parameterType="String" resultType="com.supr.blog.model.vo.ProductAttr">
		select * from product_attr where attrId = #{attrId}
	</select>
	
	<!-- 根据商品属性值Id获取商品属性值对象 -->
	<select id="getProductVal" parameterType="String" resultType="com.supr.blog.model.vo.ProductVal">
		select * from product_val where valId = #{valId}
	</select>
	
	<!-- 获取待处理增量索引总量 -->
	<select id="getIncrementIndexCount" resultType="int">
		select count(1) from index_product where indexStatue = 0
	</select>
	
	<!-- 获取待处理增量索引集合 -->
	<select id="getIncrementIndex" parameterType="int" resultType="com.supr.blog.model.vo.IncProductIndex">
		select ip.productId,pro.productName,pro.categoryId,pro.price,pro.saleCount,ip.indexStatue,ip.indexType,ip.indexId   
		from index_product ip 
		left join product pro on ip.productId = pro.productId 
		where ip.indexStatue = 0 
		limit 0,#{indexCount}
	</select>
	
	<!-- 更新增量索引表中 处理状态 -->
	<update id="updateIncIndexStatus" parameterType="com.supr.blog.model.vo.IncProductIndex">
		update index_product set indexStatue = #{indexStatue} 
		where indexId = #{indexId}
	</update>

</mapper>
