<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
  
<mapper namespace="com.supr.blog.mapper.TagMapper">
	
	<!-- 获取指定标签信息 -->
	<select id="getTagById" parameterType="String" resultType="com.supr.blog.model.Tag">
		select * from tag where tagId = #{tagId}  
	</select>
	
	<!-- 获取所有标签信息 -->
	<select id="getAllTag" resultType="com.supr.blog.model.Tag">
		select * from tag
	</select>
	
	<!-- 根据名字获取标签 -->
	<select id="getTagByName" parameterType="String" resultType="com.supr.blog.model.Tag">
		select * from tag where tagName = #{tagName}
	</select>
	
	<!-- 根据名字获取标签 -->
	<insert id="addTag" parameterType="String">
		insert into tag(tagName) values(#{tagName})
	</insert>
	
</mapper>
